*
!Dockerfile
!dockerStart.sh
!mise.toml
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
!packages/server/
!packages/server/package.json
!packages/server/src/
!packages/server/src/**
!packages/server/drizzle/
!packages/server/drizzle/**
!packages/common/
!packages/common/package.json
!packages/common/src/
!packages/common/src/**
**/*.test.ts
